.card{
    /* display: grid; */
    position: absolute;
    align-items: center;
    /* background-color: rgb(180, 180, 247); */
    height: 19em;
    width: 19em; 
  }
  .handle{
    color: rgb(14, 251, 1);
  }

 